pkgbase = python-dm-tree
	pkgdesc = A library for working with nested data structures
	pkgver = 0.1.8
	pkgrel = 1
	url = https://github.com/deepmind/tree
	arch = any
	groups = deepmind
	groups = jax
	license = Apache
	makedepends = cmake
	makedepends = git
	makedepends = make
	makedepends = python
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	optdepends = python-wrapt: Prefered way for monkey patching
	source = dm-tree-0.1.8.tar.gz::https://github.com/deepmind/tree/archive/refs/tags/0.1.8.tar.gz
	sha256sums = 5139f26b0995514978fc214d20c8302d95c35ce58e5e1adc3278b159d39f6a52

pkgname = python-dm-tree
