pkgbase = python-dm-tree
	pkgdesc = A library for working with nested data structures
	pkgver = 0.1.9
	pkgrel = 1
	url = https://github.com/google-deepmind/tree
	arch = any
	groups = deepmind
	groups = jax
	license = Apache
	checkdepends = python-pytest
	makedepends = cmake
	makedepends = pybind11
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-absl
	depends = python-attrs
	depends = python-numpy
	depends = python-wrapt
	source = dm-tree-0.1.9.tar.gz::https://github.com/deepmind/tree/archive/refs/tags/0.1.9.tar.gz
	source = dm-tree.diff
	sha256sums = d736ec355daf39c93633373a160120cdd45717e6717d105efed722d2cd2cfcc9
	sha256sums = SKIP

pkgname = python-dm-tree
