pkgbase = python-dm-tree
	pkgdesc = A library for working with nested data structures
	pkgver = 0.1.8
	pkgrel = 4
	url = https://github.com/google-deepmind/tree
	arch = any
	groups = deepmind
	groups = jax
	license = Apache
	makedepends = abseil-cpp
	makedepends = cmake
	makedepends = pybind11
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-wrapt: Prefered way for monkey patching
	source = dm-tree-0.1.8.tar.gz::https://github.com/deepmind/tree/archive/refs/tags/0.1.8.tar.gz
	source = dm-tree.patch
	sha256sums = 5139f26b0995514978fc214d20c8302d95c35ce58e5e1adc3278b159d39f6a52
	sha256sums = SKIP

pkgname = python-dm-tree
